//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background   : #1c244b;
$color-text         : #b3b6c2;
$color-link         : #b3b6c2;
$color-link-hover   : #ffb55e;
$color-maverick     : #b3b6c2;
$color-tagline      : #CCCCCC;

// Breakpoints
$bp-smallish        : 1200px;
$bp-tablet          : 800px;
$bp-mobile          : 500px;

// Image
$image-background   : {{ if .Site.Params.visual.image.enable }}url('../{{ .Site.Params.visual.image.file | default "images/background.jpg" }}'){{ else }}none{{ end }};
$image-position     : {{ if .Site.Params.visual.image.enable }}{{ .Site.Params.visual.image.position | default "center center" }}{{ else }}0% 0%{{ end }};

// Animation
$animation-name     : fadein;
$animation-duration : 2s;

//-------------------------------------------------------------------------------
// Imports
//-------------------------------------------------------------------------------

@import "reset";
@import "fonts";
@import "content";
