{{ define "main" }}
<div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">

        <div class="card-image card-image-blog p-0">
          {{ $ := . }}
          {{ with partial "get_image" . }}
            {{ if not (strings.Contains $.Content $.Params.image) }}
              <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="card-img-bottom rounded img-fluid lazyload">
            {{ end }}
          {{ end }}
  
  
          {{ if .Params.video }}
          <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video }}">
          </video>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">
    <p><em>{{ .Params.description }}</em></p>
    {{ .Content }}
    {{ with .Params.slides }}
      <p><a href="{{ . }}" target="_blank">📥 Download Slides (PDF)</a></p>
    {{ end }}
    {{ with .Params.recording}}
    <p><a href="{{ . }}" target="_blank">🎥 Watch Recording</a></p>
    {{ end}}
</div>
</div>
</div>
{{ end }}