<IfModule mod_rewrite.c>
RewriteEngine On
RedirectMatch 301 /cv https://cv.mende.io
RedirectMatch 301 /blog/cross-functional-units-uni-functional-teams/ https://unblocked.engineering/blog/cross-functional-units-uni-functional-teams/
RedirectMatch 301 /blog/just-care-less-about-not-being-aligned/ https://unblocked.engineering/blog/just-care-less-about-not-being-aligned/
RedirectMatch 301 /blog/the-value-of-team-programmings/ https://unblocked.engineering/blog/the-value-of-team-programmings/
RedirectMatch 301 /blog/deployment-process-walls/ https://unblocked.engineering/blog/deployment-process-walls/
RedirectMatch 301 /blog/decoupling-deployments-and-releases/ https://unblocked.engineering/blog/decoupling-deployments-and-releases/
RedirectMatch 301 /blog/adopting-continous-delivery-culture/ https://unblocked.engineering/blog/adopting-continous-delivery-culture/
RedirectMatch 301 /blog/testing-in-production/ https://unblocked.engineering/blog/testing-in-production/
RedirectMatch 301 /blog/focus-weeks/ https://unblocked.engineering/blog/focus-weeks/
RedirectMatch 301 /blog/focus-week-case-study/ https://unblocked.engineering/blog/focus-week-case-study/
RedirectMatch 301 /blog/why-teams-need-slack/ https://unblocked.engineering/blog/why-teams-need-slack/
RedirectMatch 301 /blog/bonuses-are-bad/ https://unblocked.engineering/blog/bonuses-are-bad/
RedirectMatch 301 /blog/blameless-postmortems/ https://unblocked.engineering/blog/blameless-postmortems/
RedirectMatch 301 /blog/okrs-are-not-guaranteed-deliveries/ https://unblocked.engineering/blog/okrs-are-not-guaranteed-deliveries/
RedirectMatch 301 /blog/remote-can-be-synchronous-too/ https://unblocked.engineering/blog/remote-can-be-synchronous-too/
RedirectMatch 301 /blog/developer-experience-platform-team/ https://unblocked.engineering/blog/developer-experience-platform-team/
RedirectMatch 301 /blog/code-ownership/ https://unblocked.engineering/blog/code-ownership/
RedirectMatch 301 /blog/code-ownership-conflicts/ https://unblocked.engineering/blog/code-ownership-conflicts/
RedirectMatch 301 /blog/developer-experience-developer-productivity/ https://unblocked.engineering/blog/developer-experience-developer-productivity/
RedirectMatch 301 /blog/care-about-developer-experience/ https://unblocked.engineering/blog/care-about-developer-experience/
RedirectMatch 301 /blog/why-a-devex-team-can-help/ https://unblocked.engineering/blog/why-a-devex-team-can-help/
RedirectMatch 301 /blog/developer-experience-team-shape/ https://unblocked.engineering/blog/developer-experience-team-shape/
RedirectMatch 301 /blog/developer-experience-team-interaction-modes/ https://unblocked.engineering/blog/developer-experience-team-interaction-modes/
RedirectMatch 301 /blog/dry-do-repeat-yourself/ https://unblocked.engineering/blog/dry-do-repeat-yourself/
RedirectMatch 301 /blog/user-experience-teachings-for-developer-experience-engineers/ https://unblocked.engineering/blog/user-experience-teachings-for-developer-experience-engineers/
RedirectMatch 301 /blog/continuous-deployment-for-the-entire-organisation/ https://unblocked.engineering/blog/continuous-deployment-for-the-entire-organisation/
RedirectMatch 301 /blog/scratch-the-backlog/ https://unblocked.engineering/blog/scratch-the-backlog/
RedirectMatch 301 /blog/not-deploying-on-fridays-outdated-practice/ https://unblocked.engineering/blog/not-deploying-on-fridays-outdated-practice/
RedirectMatch 301 /blog/remote-architecture-mapping-workshops/ https://unblocked.engineering/blog/remote-architecture-mapping-workshops/
RedirectMatch 301 /blog/importance-of-developer-productivity/ https://unblocked.engineering/blog/importance-of-developer-productivity/
RedirectMatch 301 /blog https://unblocked.engineering/blog
</IfModule>